.C_social_media{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-25);
}

.W_media{
    display: block;
    width: fit-content;
    height: fit-content;
    padding: var(--spacing-15);
    background: var(--color-white);
    border-radius: var(--corner-12);
}

.A_media_icon{
    width: 3.2rem;
    height: 3.2rem;
}

.W_media:nth-child(1) > .A_media_icon{
    background: url(../../images/tg_icon.svg) no-repeat center/100%;
}

.W_media:nth-child(2) > .A_media_icon{
    background: url(../../images/vk_icon.svg) no-repeat center/100%;
}

.W_media:nth-child(3) > .A_media_icon{
    background: url(../../images/youtube_icon.svg) no-repeat center/100%;
}

.W_media:nth-child(4) > .A_media_icon{
    background: url(../../images/dzen_icon.svg) no-repeat center/100%;
}