.W_cases_main_content_plate{
    padding: var(--spacing-30);

    background: var(--color-white);

    border-radius: var(--corner-15);
}

.W_case{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-45);

    padding: var(--spacing-85);
}

.W_case h2{
    font: var(--font-35-500i);
}

.W_case h3{
    font: var(--font-25-500i);
}

.W_case p{
    font: var(--font-18-400);
}

.W_case_introduction{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-25);

    max-width: 66rem;

    padding-bottom: var(--spacing-25);
    border-bottom: 1px solid var(--color-black);
}

.A_case_introduction_image{
    width: 100%;

    height: 26.9rem;

    background: url('../../../images/cases/case/case.svg') no-repeat center/100%;
    border-radius: var(--corner-15);
}

.W_case_main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50);

    width: 66rem;

}

.W_case_main_content_block{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-15);

    width: 66rem;

}

.A_case_back_button a{
    width: fit-content;

    padding: var(--spacing-10) var(--spacing-18);

    background: var(--color-orange);

    border-radius: var(--corner-30);

    font: var(--font-15-500);
}

.A_case_back_button{
    position: absolute;
    top: 23rem;
    right: var(--spacing-50);
}

.W_case_main_content_block_text{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.W_case_main_content_block_text ol li{
    list-style-type: decimal;
    list-style-position: inside;
    font: var(--font-18-400);
}

.C_purple{
    color: var(--color-white);

    background: var(--color-purple);

    transition: .5s;
    
    rotate: -2deg;
}

.C_purple:hover{
    rotate: 0deg;
}