<div class="O_header_black_mobile">
  <div class="W_header_black_mobile_top_content">
    <div class="Q_header_black_mobile_close"></div>
    <div class="M_hbm_search_bar">
      <div class="C_search_bar_inner">
        <div class="Q_hbm_find_icon"></div>
        <div class="A_search_text">
          <p>Поиск</p>
        </div>
      </div>
    </div>

    <div class="C_header_black_mobile_nav">
      <a href="/Connecteam/">Главная</a>
      <a href="/Connecteam/articles">Материалы</a>
      <a href="/Connecteam/cases">Кейсы</a>
      <a href="/Connecteam/interactives">Интерактивы</a>
    </div>

    <div class="W_header_black_mobile"></div>
  </div>
</div>
