.O_header_about{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.A_ha_logo{
    display: block;
    width: 18rem;
    height: 2.25rem;
    background: url(../../images/logo_text.svg) no-repeat center/100%;
}

.C_ha_nav_menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-55);
}

.A_ha_nav_button{
    font: var(--font-17);
    color: var(--color-white);
    white-space: nowrap;
}

@media (max-width: 768px) {
    .A_ha_nav_button:nth-child(1){
        display: none;
    }
    .A_ha_nav_button:nth-child(2){
        display: none;
    }
}