/* O_footer */
.A_footer_logo{
    width: 20.3rem;

    height: 4.7rem;

    background: url("../../images/Logo.svg") no-repeat center/100%;
}

.A_footer_team_member{
    color: var(--color-white);
    font: var(--font-18-400);
}

/* C_social_media */
.A_media_icon{
    width: 6.3rem;

    height: 6.3rem;
}

.W_media:nth-child(1) > .A_media_icon{
    background: url("../../images/telefram_icon.svg") no-repeat center/100%;
}

.W_media:nth-child(2) > .A_media_icon{
    background: url("../../images/vk_icon.svg") no-repeat center/100%;
}

.W_media:nth-child(3) > .A_media_icon{
    background: url("../../images/youtube_icon.svg") no-repeat center/100%;
}

/* A_sticker */
.A_sticker_text {
    max-width: 10rem;
  
    max-height: 10rem;
  
    margin: 0;
  
    text-align: center;
  
    font: var(--font-14-300);
    word-wrap: break-word;
    overflow: hidden;
}

/* A_tag */
.A_tag{
    padding: var(--spacing-10) var(--spacing-20);

    color: var(--color-blue);

    background: var(--color-white);
    border-radius: var(--corner-20);
    font: var(--font-15-500);
}

/* M_advice */
.A_advice_title{
    font: var(--font-25-500i);
}

.A_advice_text{
    font: var(--font-18-500);
}

/* M_tip */
.A_tip_text{
    width: 100%;
    font: var(--font-18-400);
}

/* Page - Index */
.A_preview_card{
    position: absolute;
    top: 20vw;
    left: 17vw;
    z-index: 1;

    max-width: 35rem;

    color: var(--color-white);

    background: var(--color-orange);
}

.A_preview_card h3, .W_preview_big_card h3{
    font: var(--font-25-500);
}

.A_preview_tag{
    width: fit-content;

    padding: var(--spacing-6) var(--spacing-12);

    background: var(--color-light-gray);
    border-radius: var(--corner-20);
    font: var(--font-11-500);
}

.A_preview_materials_title h2{
    text-align: center;
    font: var(--font-35-500i);
}

.A_preview_materials_card_title h3{
    font: var(--font-25-500);
}

.A_preview_materials_card_description p{
    font: var(--font-18-500);
}

.A_preview_materials_button a{
    width: fit-content;

    padding: var(--spacing-10) var(--spacing-18);

    background: var(--color-orange);

    border-radius: var(--corner-30);

    font: var(--font-15-500);
}

.A_preview_testing_title h2{
    font: var(--font-35-500i);
}

.A_preview_testing_description p{
    color: var(--color-lighter-gray);
    font: var(--font-18-500);
}

.A_preview_testing_button a{
    width: fit-content;

    padding: var(--spacing-10) var(--spacing-18);

    background: var(--color-blue);

    border-radius: var(--corner-30);

    font: var(--font-15-500);
}

.A_preview_mission_title h2{
    text-align: center;
    font: var(--font-35-500i);
}


.A_preview_casino_description p{
    color: var(--color-lighter-gray);
    text-align: center;
    font: var(--font-18-500);
}

.W_preview_casino_content .A_preview_testing_button{
    margin-top: var(--spacing-20);
}

.A_preview_casino_title h2, .A_preview_stories_title h2{
    font: var(--font-35-500i);
}

.A_preview_stories_title h2{
    text-align: center;
}

.A_preview_stories_case_title h3{
    font: var(--font-25-500);
}

.A_preview_stories_case_description p{
    font: var(--font-18-500);
}

.A_preview_coming_soon_case_title h3{
    font: var(--font-25-500i);
}

.A_preview_coming_soon_title h2{
    font: var(--font-35-500i);
}

#A_preview_coming_soon_case_retro{
    position: absolute;

    
    top: 4.6rem;

    width: 20.7rem;

    height: 4.2rem;

    background: url('../../images/preview/sms.svg') no-repeat center/100%;
}

#A_preview_coming_soon_case_onboarding{
    position: absolute;

    top: 3.4rem;

    width: 23.6rem;

    height: 7.5rem;

    background: url('../../images/preview/senor.svg') no-repeat center/100%;
}

/* O_header */
.A_header_logo{
    width: 17.7rem;

    height: 2rem;

    background: url('../../images/Logo.svg') no-repeat center/100%
}

.A_header_nav_button{
   padding: var(--spacing-5) var(--spacing-15);

   border-radius: var(--corner-20);

   transition: all .2s;
   font: var(--font-14-300); 
   border: 1.5px solid var(--color-blue);
}

.A_header_nav_button:hover{
    border-color: var(--color-white);
}

.A_header_nav_button:active{
    color: var(--color-blue);

    background: var(--color-white);
}

@media (max-width: 768px) {
    /* O_footer */
    .A_footer_social_media_text{
        display: none;
    }
}