/* C_social_media */
.C_social_media{
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-10);
}

/* O_header */
.C_header_nav{
    display: flex;
    gap: var(--spacing-15);
}

.C_header_burger_menu_nav{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-45);

    width: 100%;
}

.C_header_burger_menu_social{
    position: absolute;
    bottom: 0;
    left: calc(var(--spacing-25)/2);

    display: flex;
    justify-content: center;
    gap: var(--spacing-10);

    width: 100%;
}