/* O_footer */
.W_footer_social_media{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.W_footer_social_media p{
    color: var(--color-white);
    font: var(--font-18-400);
}

/* A_sticker */
.W_sticker {
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 15rem;

    height: 15rem;
  
    background-repeat: no-repeat;
}

/* Page - Index */
.W_preview{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    min-height: 80vh;

    padding: var(--spacing-35);

    background-color: var(--color-blue);
    background-image: 
      linear-gradient(to right, var(--color-grid-blue) 1px, transparent 1px),
      linear-gradient(to bottom, var(--color-grid-blue) 1px, transparent 1px),
      linear-gradient(to right, var(--color-grid-blue) 2px, transparent 2px),
      linear-gradient(to bottom, var(--color-grid-blue) 2px, transparent 2px);
    border-radius: 0 0 var(--corner-20) var(--corner-20);
    background-size: 
      36px 36px,
      36px 36px,
      144px 144px,
      144px 144px;
    ;
    overflow: hidden;
}

.W_preview_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-80);

    padding: var(--spacing-80) var(--spacing-50);

    background: var(--color-light-gray);
}

.W_preview_card{
    padding: var(--spacing-12) var(--spacing-25);

    border-radius: var(--corner-10);
}

.W_preview_card_block{
    position: absolute;
    top: 28vw;
    right: 30vw;
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.W_preview_big_card{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);

    max-width: 25rem;

    background: var(--color-light-gray);
}

.W_preview_big_card p {
    font: var(--font-10-500)
}

.W_preview_tags{
    display: flex;
    gap: var(--spacing-10);
}

.W_preview_materials{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);

    width: 100%;
}

.W_preview_materials_content{
    display: flex;
    gap: var(--spacing-25);

    width: 100%;
}

.W_preview_materials_card{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--spacing-5);

    width: 100%;

    height: 26.5rem;

    padding: var(--spacing-30);

    border-radius: var(--corner-15);
    overflow: hidden;
}

.W_preview_materials_content .W_preview_materials_card:nth-child(1), .W_preview_materials_content .W_preview_materials_card:nth-child(3){
    background: var(--color-white);
}

.W_preview_materials_content .W_preview_materials_card:nth-child(2){
    color: var(--color-white);

    background: var(--color-pink);

    transition: .5s;
}

.W_preview_materials_content .W_preview_materials_card:nth-child(2):hover{
    rotate: 2deg;
}

.W_preview_materials_content .W_preview_materials_card:nth-child(1) div[class], .W_preview_materials_content .W_preview_materials_card:nth-child(3) div[class]{
    position: relative;
    z-index: 1;
}

.W_preview_materials_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-35);
}

.W_preview_testing{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    height: 36.8rem;

    padding: var(--spacing-30) var(--spacing-30) var(--spacing-40) var(--spacing-30);

    margin: 0;

    background-color: var(--color-white);
    background-image: 
      linear-gradient(to right, var(--color-light-gray) 1px, transparent 1px),
      linear-gradient(to bottom, var(--color-light-gray) 1px, transparent 1px),
      linear-gradient(to right, var(--color-light-gray) 2px, transparent 2px),
      linear-gradient(to bottom, var(--color-light-gray) 2px, transparent 2px);

    border-radius: var(--corner-15);
    background-size: 
      36px 36px,
      36px 36px,
      144px 144px,
      144px 144px;

    overflow: hidden;
}

.W_preview_mission{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-20);

    padding: var(--spacing-150) 0;
}

.W_preview_casino{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    height: 36.8rem;

    border-radius: var(--corner-15);
    overflow: hidden;
}

.W_preview_casino_content{
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-25);

    max-width: 35.6rem;
}

#W_preview_stories_case_yandex{
    position: absolute;

    width: 100%;

    height: 100%;

    background: url('../../images/cases/B_cases_rebranding_image.webp') no-repeat center/cover;
    translate: calc(-1*var(--spacing-30)) var(--spacing-30);
}

#W_preview_stories_case_sber{
    position: absolute;

    width: 100%;

    height: 100%;


    background: url('../../images/cases/B_cases_sber_image.webp') no-repeat center/cover;
    translate: calc(-1*var(--spacing-30)) var(--spacing-30);
}

.W_preview_stories{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);

    width: 100%;
}

.W_preview_stories_content{
    display: flex;
    gap: var(--spacing-30);

    width: 100%;
}

.W_preview_stories_case{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 27.6rem;

    padding: var(--spacing-30);

    border-radius: var(--corner-15);
    overflow: hidden;
}

.W_preview_stories_content .W_preview_stories_case:nth-child(1) div[class], .W_preview_stories_content .W_preview_stories_case:nth-child(2) div[class]{
    position: relative;
    z-index: 1;
}

.W_preview_stories_case_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);

    max-width: 37rem;
}

.W_preview_coming_soon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50);

    width: 62%;
}

.W_preview_coming_soon_case{
    position: relative;

    display: flex;
    align-items: flex-end;

    width: 100%;

    height: 16.4rem;

    padding: var(--spacing-15);

    border-radius: var(--corner-15) ;
    overflow: hidden;
}

.W_preview_coming_soon_content{
    display: flex;
    gap: var(--spacing-30);

    width: 100%;
}

.W_preview_coming_soon_content .W_preview_coming_soon_case:nth-child(1){
    background: var(--color-white);
}

.W_preview_coming_soon_content .W_preview_coming_soon_case:nth-child(2){
    color: var(--color-white);

    background: var(--color-purple);
}

.W_preview_coming_soon_content .W_preview_coming_soon_case:nth-child(3){
    background: url('../../images/preview/code.webp') no-repeat center/100%;
}

.W_header_pos_absolute{
    position: relative;
}

.W_header_pos_absolute > .O_header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.W_header_mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-80);

    width: 100%;

    height: 100%;

    padding: var(--spacing-15) var(--spacing-25);

    margin-top: var(--spacing-80);
}

@media (max-width: 1440px) {
    .W_preview_coming_soon_content .W_preview_coming_soon_case:nth-child(3){
        background: url('../../images/preview/code.webp') no-repeat center/cover;
    }

    .W_preview_coming_soon{
        width: 100%;
    }

    .W_preview_coming_soon_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 768px) {
    /* O_footer */
    .W_footer_social_media{
        align-items: center;
    }

    /* A_sticker */
    .W_sticker {
        display: none;
    }

    /* Page - Index */
    .W_preview_materials_content{
        flex-direction: column;
    }

    .W_preview_stories_content{
        flex-direction: column;
    }

    .W_header_interactive{
        display: none;
    }
}