<div class="SO_footer">
    <div class="W_footer_text">
        <div class="A_footer_logo_mobile"></div>
        <div class="M_footer_text">
            <div class="A_footer_naming">
                <p>Connec<span>team</span></p>
            </div>
            <div class="A_footer_slogan">
                <p>Сконнектим тебя с коллегами</p>
            </div>
        </div>
    </div>
    <div class="O_footer_content">
        <div class="A_footer_logo"></div>
        <social_media></social_media>
        <div class="M_footer_team">
            <div class="A_footer_team_adc">
                <p>HSE ADC</p>
            </div>
            <div class="C_footer_team_members">
                <li class="A_footer_team_member">Кольченко Василиса</li>
                <li class="A_footer_team_member">Косарева Вероника</li>
                <li class="A_footer_team_member">Чубаров Владислав</li>
            </div>
        </div>
    </div>
</div>