<div class="SO_footer">
  <div class="A_footer_logo"></div>
  <div class="W_footer_content">
    <div class="O_footer_content">
      <div class="W_footer_social_media">
        <div class="A_footer_social_media_text">
          <p>Мы в соцсетях:</p>
        </div>
        <social_media></social_media>
      </div>
      <div class="A_footer_slogan">
        <p>Сконнектим тебя с коллегами</p>
      </div>
      <div class="M_footer_team">
        <div class="A_footer_team_adc">
          <p>HSE ADC</p>
        </div>
        <div class="C_footer_team_members">
          <li class="A_footer_team_member">Кольченко Василиса</li>
          <li class="A_footer_team_member">Косарева Вероника</li>
          <li class="A_footer_team_member">Чубаров Владислав</li>
        </div>
      </div>
    </div>
  </div>
</div>
