.SO_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-20);
    padding: var(--spacing-25) var(--spacing-50);
    background: var(--color-gray-white);
    border-radius: var(--corner-12) var(--corner-12) 0 0;
}

.M_footer_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-5);
    color: var(--color-light-gray);
}

.A_footer_naming{
    font: var(--font-footer)
}

.A_footer_naming span{
    color: var(--color-black)
}

.A_footer_slogan{
    font: var(--font-18m)
}

.O_footer_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
}

.A_footer_logo{
    display: block;
    align-self: flex-end;
    background: url(../../images/logo.svg) no-repeat center/100%;
    width: 6rem;
    height: 6rem;
}

.M_footer_team{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-15);
    justify-self: flex-end;
    font: var(--font-16);
    color: var(--color-black);
    text-align: right;
}

.A_footer_logo_mobile{
    display: none;
}

@media (max-width: 768px) {
    .SO_footer{
        padding: var(--spacing-25) 0 0 0;
    }
    .O_footer_content{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-30);
    }
    .A_footer_logo_mobile{
        display: block;
        background: url(../../images/logo.svg) no-repeat center/100%;
        width: 6rem;
        height: 6rem;
    }

    .A_footer_logo{
        display: none;
    }

    .W_footer_text{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-15);
    }
    .M_footer_team{
        padding: var(--spacing-15) 0 var(--spacing-60);
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        background: var(--color-light-gray);
        color: var(--color-white);
    }
    .C_footer_team_members{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding: 0 var(--spacing-25);
    }

    .A_footer_team_member:nth-child(1){
        display: block;
        justify-self: flex-start;
    }
    .A_footer_team_member:nth-child(2){
        display: block;
        justify-self: center;
    }
    .A_footer_team_member:nth-child(3){
        display: block;
        justify-self: flex-end;
    }
}