.W_interactive_start {
    min-height: 100vh;
  }
  
.W_interactive_start_generate{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-25);

    margin-top: 28rem;
}

.A_interactive_start_generate_button {
    padding: var(--spacing-20) var(--spacing-35);

    color: var(--color-white);

    background: var(--color-orange);
    border-radius: var(--corner-50);
    font: var(--font-35-500i);
    cursor: pointer;
}

.A_idea_block{
    padding: var(--spacing-20) var(--spacing-30);

    color: var(--color-grid-gray);

    text-align: center;

    background: var(--color-white);
    border-radius: 10px;

    transition: opacity 0.3s ease;

    font: var(--font-35-500i);
}

.hidden {
    display: none;
}

.W_interactive_start_content_block{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.W_interactive_start_content_block_title h3{
    font: var(--font-25-500i);
}

.W_interactive_start_content_block_title{
    padding-bottom: var(--spacing-10);
    border-bottom: 1px solid var(--color-black);
}

.W_interactive_start_content{
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
    
}

.W_interactive_start_content h3{
    display: inline-block;
}

.W_interactive_start_content span{
    padding-top: .2rem;

    color: var(--color-blue);
    font: var(--font-15-500);
}

.text_gray{
    color: var(--color-grid-gray);
}

.text_black{
    color: var(--color-black);
}