<div class="O_header">
  <div class="A_header_logo"></div>
  <div class="W_header_interactive">
    <nav class="C_header_nav">
      <a href="/Connecteam/" class="A_header_nav_button">О нас</a>
      <a href="/Connecteam/articles" class="A_header_nav_button">Статьи</a>
      <a href="/Connecteam/cases" class="A_header_nav_button">Кейсы</a>
      <a href="/Connecteam/interactives" class="A_header_nav_button"
        >Интерактивы</a
      >
    </nav>
    <div class="M_header_search_bar">
      <div class="Q_header_search_icon"></div>
    </div>
  </div>
</div>
