header{
    position: fixed;
    z-index: 2;

    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: var(--spacing-25) var(--spacing-40);

    background: var(--color-blue);

    border-radius: 0 0 var(--corner-15) var(--corner-15);
}

.A_style_guide_logo{
    width: 18rem;

    height: 3rem;

    background: url('../../images/logo_text.svg') no-repeat center/100%;
}

.A_style_guide_text{
    color: var(--color-white);
    font: var(--font-18-400);
}

.W_styleguide_preview_card{
    padding: var(--spacing-12) var(--spacing-25);

    color: var(--color-white);

    background: var(--color-orange);

    border-radius: var(--corner-10);
}

.W_styleguide_preview_card h3{
    font: var(--font-60-500i);
}

.W_styleguide_preview{
    justify-content: center;
}

#Q_cursor_six{
    position: absolute;
    top: 14vw;
    left: 35vw;
    z-index: 4;

    width: 8.6rem;

    height: 5.8rem;

    background: url('../../images/cursors/cursor6.svg') no-repeat center/100%;

    animation: move 3s linear infinite;
    transform-origin: 0 0;
}

#Q_cursor_seven{
    position: absolute;
    top: 27vw;
    right: 30vw;
    z-index: 4;

    width: 9rem;

    height: 5.8rem;

    background: url('../../images/cursors/cursor7.svg') no-repeat center/100%;

    animation: move 5s linear infinite;
    transform-origin: 0 0;
}

#Q_cursor_eight{
    position: absolute;
    bottom: 15vw;
    left: 30vw;
    z-index: 4;

    width: 10.2rem;

    height: 5.8rem;

    background: url('../../images/cursors/cursor8.svg') no-repeat center/100%;

    animation: move 4s linear infinite;
    transform-origin: 0 0;
}

.A_style_guide_down{
    position: absolute;
    bottom: var(--spacing-25);

    width: 20rem;

    height: 3.4rem;

    background: url('../../images/styleguide/down.svg') no-repeat center/100%;
}

.W_styleguide_content{
    position: relative;

    display: flex;
    justify-content: space-between;

    padding: var(--spacing-60);
}

.W_styleguide_menu_ul{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-15);
}

.W_styleguide_menu_ul li{
    font: var(--font-21-500i);
}

.W_styleguide_text{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);

    max-width: 49rem;
}

.W_styleguide_title h2{
    color: var(--color-blue);
    font: var(--font-60-500i);
}

.W_styleguide_title h3{
    color: var(--color-blue);
    font: var(--font-35-500i);
}

.W_styleguide_text p{
    font: var(--font-18-400);
}

.W_styleguide_about_us{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.W_styleguide_about_us_text{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.W_styleguide_about_us_values_image{
    width: 63.4rem;

    height: 34rem;

    background: url('../../images/styleguide/values.svg') no-repeat center/100%;
}

.W_styleguide_about_us_values{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.A_styleguide_image{
    width: 91.8rem;

    height: 40.9rem;

    border-radius: var(--corner-15);
}

.A_styleguide_metafor_image{
    background: url('../../images/styleguide/styleguide_metafor.svg') no-repeat center/100%;
}

.W_styleguide_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-10);
}

.W_styleguide_image p{
    color: var(--color-styleguide-gray);
    font: var(--font-15-400);
}

.W_styleguide_about_us_metafor{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.A_styleguide_logo_image{
    background: url('../../images/styleguide/connecteam.svg') no-repeat center/100%;
}

.W_style_guide_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.W_styleguide_image_logo_one{
    width: 57.6rem;

    height: 18rem;

    background: url('../../images/styleguide/styleguide_logo_one.svg') no-repeat center/100%;
    border-radius: var(--corner-15);
}

.W_styleguide_image_logo_two{
    width: 65rem;

    height: 24.1rem;

    background: url('../../images/styleguide/styleguide_logo_two.svg') no-repeat center/100%;
    border-radius: var(--corner-15);
}

.W_styleguide_image_only_logo{
    width: 57.6rem;

    height: 18rem;

    background: url('../../images/styleguide/styleguide_only_logo.svg') no-repeat center/100%;
    border-radius: var(--corner-15);
}

.A_styleguide_logo_three_image{
    background: url('../../images/styleguide/styleguide_logo_three.svg') no-repeat center/100%;
}

.W_styleguide_image_color_logo{
    width: 91.8rem;

    height: 38.5rem;

    border-radius: var(--corner-15);
}

.W_styleguide_image_color_logo_one{
    background: url('../../images/styleguide/color_logo.svg') no-repeat center/100%;
}

.W_styleguide_image_color_logo_two{
    background: url('../../images/styleguide/color_logo_grad.svg') no-repeat center/100%;
}

.W_styleguide_image_color_logo_three{
    width: 60.9rem;

    height: 22.5rem;

    background: url('../../images/styleguide/color_logo_rotate.svg') no-repeat center/100%;

}

.W_styleguide_color_palette{
    width: 91.8rem;

    height: 20rem;

    border-radius: var(--corner-15);
}

.W_styleguide_color_palette_one{
    background: url('../../images/styleguide/colorspallete1.svg') no-repeat center/100%;
}

.W_styleguide_color_palette_two{
    background: url('../../images/styleguide/colorspallete2.svg') no-repeat center/100%;
}

.A_styleguide_stickers_image{
    background: url('../../images/styleguide/styleguide_stickers.svg') no-repeat center/100%;
}

.A_styleguide_sticker_image{
    width: 91.8rem;

    height: 29.7rem;

    border-radius: var(--corner-15);
}

.W_styleguide_color_palette_three{
    background: url('../../images/styleguide/colorspallete3.svg') no-repeat center/100%;
}

.W_styleguide_font_image{
    width: 91.8rem;

    height: 20.6rem;

    border-radius: var(--corner-15);
}

.W_styleguide_font_image_one{
    background: url('../../images/styleguide/styleguide_font_one.svg') no-repeat center/100%;
}

.W_styleguide_font_image_two{
    background: url('../../images/styleguide/styleguide_font_two.svg') no-repeat center/100%;

}

.W_styleguide_font_image_three{
    background: url('../../images/styleguide/styleguide_font_three.svg') no-repeat center/100%;

}

.W_styleguide_font_image_four{
    background: url('../../images/styleguide/styleguide_font_four.svg') no-repeat center/100%;
}

.W_styleguide_text a{
    color: var(--color-blue);
    text-decoration: underline;
}

.W_styleguide_font_image_big{
    width: 91.8rem;

    height: 35.6rem;

    background: url('../../images/styleguide/styleguide_font_big.svg') no-repeat center/100%;
}

.A_styleguide_image_image{
    width: 91.8rem;

    height: 22.5rem;

    border-radius: var(--corner-15);
}

.A_styleguide_image_image_one{
    background: url('../../images/styleguide/styleguide_image_one.svg') no-repeat center/100%;
}

.A_styleguide_image_image_two{
    background: url('../../images/styleguide/styleguide_image_two.svg') no-repeat center/100%;
}

.A_styleguide_colors_palette_image{
    background: url('../../images/styleguide/styleguide_phone.svg') no-repeat center/100%;
}