.O_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-5);

    width: 100%;

    padding: var(--spacing-25) var(--spacing-50);

    background: var(--color-blue);
    border-radius: var(--corner-12) var(--corner-12) 0 0;
}

.M_footer_info{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.A_footer_logo{
    width: 20.3rem;

    height: 4.7rem;

    background: url("../../images/Logo.svg") no-repeat center/100%;
}

.W_footer_social_media{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.W_footer_social_media p, .A_footer_team_member{
    color: var(--color-white);
    font: var(--font-18-400);
}

@media (max-width: 768px) {
    .SO_footer{
        padding: var(--spacing-45) 0;
    }

    .O_footer_content{
        display: flex;
        flex-direction: column-reverse;
        gap: var(--spacing-30);
    }

    .A_footer_logo_mobile{
        display: block;

        width: 6rem;

        height: 6rem;

        background: url("../../images/logo_black.svg") no-repeat center/100%;
    }

    .W_footer_text{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-15);
    }

    .M_footer_team{
        display: none;
    }

    .A_footer_social_media_text{
        display: none;
    }

    .W_footer_social_media{
        align-items: center;
    }
}