.W_article{
    padding-top: var(--spacing-50);
    align-items: center;
}

.W_article_content {
    gap: var(--spacing-80);
}

.Q_article_gradient_line{
    width: 100%;
    height: 2px;
    background: var(--color-gradient-article);
    min-height: 2px;
}

.P_article_gradient_line{
    margin-top: var(--spacing-80);
}

.W_article_head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.A_article_head_title{
    color: var(--color-white);
}

.A_article_back_button{
    height: fit-content;
    width: fit-content;
    padding: var(--spacing-10) var(--spacing-25);
    background: var(--color-light-black);
    font: var(--font-17);
    color: var(--color-light-gray);
    border-radius: var(--corner-12);
}

.A_article_back_button_mobile{
    display: none;
    width: 1.8rem;
    height: 1.8rem;
    background: url(../../../images/articles/close.svg) no-repeat center/100%;
}

.A_article_back_button_mobile > a{
    display: block;
    width: 100%;
    height: 100%;
}

.W_article_description{
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-50);
    align-items: center;
}

.C_article_description{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-30);
    font: var(--font-20);
    color: var(--color-white);
    width: 60%;
}

.C_arcticle_description_waterfall{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    width: 40%;
}

.W_article_waterfall_stages{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.A_article_waterfall_title{
    color: var(--color-white);
}

.W_article_description_waterfall {
    position: relative;
    padding: var(--spacing-15) var(--spacing-20);
    border-radius: var(--corner-12);
    z-index: 1;
}

.W_article_description_waterfall::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--corner-12);
    padding: 2px;
    background: var(--color-gradient-article-content);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.A_article_description_waterfall{
    font: var(--font-20);
    color: var(--color-white);
    white-space: nowrap;
}

.W_article_waterfall_stage_title{
    padding: var(--spacing-25) var(--spacing-30);
    background: var(--color-dark-gray);
    border-radius: var(--corner-20);
    color: var(--color-white);
    font: var(--font-18m);
}

.A_article_waterfall_stage_text{
    color: var(--color-white);
    font: var(--font-18);
}

.A_article_waterfall_stage_additional{
    font: var(--font-18m);
    color: var(--color-light-gray);
}

.C_article_waterfall_stages_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-30);
}

.M_article_waterfall_stage{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--spacing-30);
}

.A_article_waterfall_stage_additional, .W_article_waterfall_stage_title, .A_article_waterfall_stage_text{
    display: flex;
    align-items: center;
}

.W_article_waterfall_versus{
    display: flex;
    align-items: center;
    gap: var(--spacing-30);
}

.A_article_watefall_versus_vs{
    font: var(--font-25);
    color: var(--color-white);
}

.W_article_waterfall_versus_block{
    padding: var(--spacing-25) var(--spacing-30);
    background: var(--color-dark-gray);
    border-radius: var(--corner-20);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-25);
}

.C_article_waterfall_versus_block{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-25);
}

.A_article_waterfall_versus_title{
    color: var(--color-white);
}

.A_article_waterfall_versus_block{
    color: var(--color-black);
    font: var(--font-18);
    background: var(--color-gray-white);
    padding: var(--spacing-25) var(--spacing-30);
    border-radius: var(--corner-20);
    max-width: 39rem;
}

.A_article_waterfall_not_title{
    color: var(--color-white);
}

.W_article_waterfall_not{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-30);
}

.C_article_waterfall_not_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-30);
    width: 66%;
    margin: 0 auto;
}

.W_article_waterfall_not_block{
    padding: var(--spacing-25) var(--spacing-30);
    background: var(--color-dark-gray);
    font: var(--font-18);
    color: var(--color-white);
    border-radius: var(--corner-20);
}

.W_article_waterfall_examples{
    width: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-30);
}


.C_article_waterfall_examples_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-30);
}

.W_article_waterfall_example{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--spacing-10);
    border-radius: var(--corner-20);
    padding: var(--spacing-25) var(--spacing-30);
    height: 24rem;
}

.W_article_waterfall_example_ibm{
    background: url(../../../images/articles/ibm.webp) no-repeat center/100%;
}

.W_article_waterfall_example_cisco{
    background: url(../../../images/articles/cisco.webp) no-repeat center/100%;
}

.A_article_waterfall_interesting_subtext{
    font: var(--font-18);
}

.W_article_waterfall_interesting{
    position: relative;
    background: var(--color-gradient-dark-gray);
    overflow: hidden;
}

.W_article_waterfall_interesting_do, .W_article_waterfall_interesting_pm{
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
}
.W_article_waterfall_interesting_pm{
    bottom: 0;
    background: url(../../../images/articles/pm.webp) no-repeat center/100%;
}

.W_article_waterfall_interesting_do{
    bottom: -2%;
    background: url(../../../images/articles/do.webp) no-repeat center/100%;
}

.A_article_waterfall_example_text, .A_article_waterfall_interesting_subtext{
    position: relative;
    z-index: 1;
}

.P_article_waterfall{
    padding: var(--spacing-100) var(--spacing-50);
}
.O_header_main_mobile{
    display: none;
}

.O_header_main_mobile.active {
    display: block;
}

@media (max-width: 1440px){
    .C_article_description{
        width: 50%;
    }

    .C_arcticle_description_waterfall{
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .W_article_description{
        flex-direction: column-reverse;
    }
    .C_article_description{
        width: 100%;
    }

    .C_arcticle_description_waterfall{
        width: 100%;
    }
    
    .M_article_waterfall_stage{
        display: flex;
        flex-direction: column;
    }
    .W_article_waterfall_stage_title{
        width: fit-content;
    }
    .A_article_waterfall_stage_additional{
        display: none;
    }
    .W_article_waterfall_versus{
        flex-direction: column;
        width: 100%;
    }
    .W_article_waterfall_versus_block, .C_article_waterfall_versus_block{
        width: 100%;
    }
    .A_article_waterfall_versus_block{
        max-width: 100%;
    }
    .C_article_waterfall_versus_block{
        padding: 0 var(--spacing-20);
    }
    .C_article_waterfall_examples_content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .A_article_back_button{
        display: none;
    }

    .A_article_back_button_mobile{
        display: block;
    }
    
    .C_article_waterfall_not_content{
        width: 100%;
    }

    .C_article_waterfall_examples_content{
        grid-template-columns: 1fr;
    } 
}
