.W_preview{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    min-height: 100vh;

    padding: var(--spacing-35);

    background-color: var(--color-blue);
    background-image: 
      linear-gradient(to right, var(--color-grid-blue) 1px, transparent 1px),
      linear-gradient(to bottom, var(--color-grid-blue) 1px, transparent 1px),
      linear-gradient(to right, var(--color-grid-blue) 2px, transparent 2px),
      linear-gradient(to bottom, var(--color-grid-blue) 2px, transparent 2px);
    border-radius: 0 0 var(--corner-20) var(--corner-20);
    background-size: 
      36px 36px,
      36px 36px,
      144px 144px,
      144px 144px;
    ;
    overflow: hidden;
}

.W_preview_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-80);

    padding: var(--spacing-80) var(--spacing-50);

    background: var(--color-light-gray);
}

.W_preview_card{
    padding: var(--spacing-12) var(--spacing-25);

    border-radius: var(--corner-10);
}

.A_preview_card{
    position: absolute;
    top: 20vw;
    left: 17vw;
    z-index: 1;

    max-width: 35rem;

    color: var(--color-white);

    background: var(--color-orange);
}

.A_preview_card h3, .W_preview_big_card h3{
    font: var(--font-25-500);
}

.W_preview_card_block{
    position: absolute;
    top: 27vw;
    right: 30vw;
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
}

.W_preview_big_card{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);

    max-width: 25rem;

    background: var(--color-light-gray);
}

.W_preview_big_card p {
    font: var(--font-10-500)
}

.W_preview_tags{
    display: flex;
    gap: var(--spacing-10);
}

.A_preview_tag{
    width: fit-content;

    padding: var(--spacing-6) var(--spacing-12);

    background: var(--color-light-gray);
    border-radius: var(--corner-20);
    font: var(--font-11-500);
}

.Q_preview_logo{
    position: absolute;
    top: 22vw;
    z-index: 2;

    width: 78rem;

    height: 13rem;

    background: url('../images/logo_text.svg') no-repeat center/100%;
}

.M_preview_plate{
    position: absolute;
    top: 20vw;
    right: 25vw;

    display: flex;
    align-items: center;
    gap: var(--spacing-15);

    padding: var(--spacing-6) var(--spacing-12);

    background: var(--color-light-gray);
    border-radius: var(--corner-5);
}

.M_preview_plate span{
    font: var(--font-20-500);
}

.Q_preview_plate_icon{
    width: 1.4rem;

    height: 3rem;

    background: url('../images/plate_icon.svg') no-repeat center/100%;
}

#Q_cursor_one{
    position: absolute;
    top: 14vw;
    left: 35vw;
    z-index: 4;

    width: 7rem;

    height: 5.3rem;

    background: url('../images/cursors/cursor1.svg') no-repeat center/100%;

    animation: move 3s linear infinite;
    transform-origin: 0 0;
}

#Q_cursor_two{
    position: absolute;
    top: 27vw;
    right: 30vw;
    z-index: 4;

    width: 10.3rem;

    height: 5.3rem;

    background: url('../images/cursors/cursor2.svg') no-repeat center/100%;

    animation: move 5s linear infinite;
    transform-origin: 0 0;
}

#Q_cursor_three{
    position: absolute;
    bottom: 15vw;
    left: 30vw;
    z-index: 4;

    width: 7.8rem;

    height: 5.3rem;

    background: url('../images/cursors/cursor3.svg') no-repeat center/100%;

    animation: move 4s linear infinite;
    transform-origin: 0 0;
}

@keyframes move { 
    0% { 
        transform: rotate(0deg)  
              translateY(100px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(100px) rotate(-360deg); 
    } 
}

.W_preview_materials{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);

    width: 100%;
}

.W_preview_materials_content{
    display: flex;
    gap: var(--spacing-25);

    width: 100%;
}

.W_preview_materials_card{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--spacing-5);

    width: 100%;

    height: 26.5rem;

    padding: var(--spacing-30);

    border-radius: var(--corner-15);
    overflow: hidden;
}

.A_preview_materials_title h2{
    text-align: center;
    font: var(--font-35-500i);
}

.A_preview_materials_card_title h3{
    font: var(--font-25-500);
}

.A_preview_materials_card_description p{
    font: var(--font-18-500);
}

#B_preview_materials_friend, #B_preview_materials_div{
    position: absolute;
    z-index: 0;

    width: 100%;

    height: 100%;

    translate: calc(-1*var(--spacing-30)) var(--spacing-30);
}

#B_preview_materials_bells{
    position: absolute;
    top: var(--spacing-30);
    right: var(--spacing-30);

    width: 4.5rem;

    height: 4.5rem;

    background: url('../images/preview/zipimage.svg') no-repeat center/100%;
}

#B_preview_materials_friend{
    background: url('../images/preview/bratbody.svg') no-repeat 100%;
}

#B_preview_materials_div{
    background: url('../images/preview/divblabla.svg') no-repeat 100%;
}

.W_preview_materials_content .W_preview_materials_card:nth-child(1), .W_preview_materials_content .W_preview_materials_card:nth-child(3){
    background: var(--color-white);
}

.W_preview_materials_content .W_preview_materials_card:nth-child(2){
    color: var(--color-white);

    background: var(--color-pink);

    transition: .5s;
}

.W_preview_materials_content .W_preview_materials_card:nth-child(2):hover{
    rotate: 2deg;
}

.W_preview_materials_content .W_preview_materials_card:nth-child(1) div[class], .W_preview_materials_content .W_preview_materials_card:nth-child(3) div[class]{
    position: relative;
    z-index: 1;
}

.A_preview_materials_button a{
    width: fit-content;

    padding: var(--spacing-10) var(--spacing-18);

    background: var(--color-orange);

    border-radius: var(--corner-30);

    font: var(--font-15-500);

}

.W_preview_materials_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-35);
}

.W_preview_testing{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    height: 36.8rem;

    padding: var(--spacing-30) var(--spacing-30) var(--spacing-40) var(--spacing-30);

    margin: 0;

    background-color: var(--color-white);
    background-image: 
      linear-gradient(to right, var(--color-light-gray) 1px, transparent 1px),
      linear-gradient(to bottom, var(--color-light-gray) 1px, transparent 1px),
      linear-gradient(to right, var(--color-light-gray) 2px, transparent 2px),
      linear-gradient(to bottom, var(--color-light-gray) 2px, transparent 2px);

    border-radius: var(--corner-15);
    background-size: 
      36px 36px,
      36px 36px,
      144px 144px,
      144px 144px;

    overflow: hidden;
}

.M_preview_testing_text{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-25);

    max-width: 45rem;
}

.A_preview_testing_title h2{
    font: var(--font-35-500i);
}

.A_preview_testing_description p{
    color: var(--color-lighter-gray);
    font: var(--font-18-500);
}

.A_preview_testing_button a{
    width: fit-content;

    padding: var(--spacing-10) var(--spacing-18);

    background: var(--color-blue);

    border-radius: var(--corner-30);

    font: var(--font-15-500);
}

#B_preview_testing{
    position: absolute;
    right: 5vw;
    z-index: 0;

    width: 63rem;

    height: 100%;

    background: url('../images/preview/testing.svg') no-repeat center/100%;

    translate: calc(-1*var(--spacing-30)) var(--spacing-30);
}

.W_preview_mission{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-20);

    padding: var(--spacing-150) 0;
}

.A_preview_mission_title h2{
    text-align: center;
    font: var(--font-35-500i);
}

.M_preview_mission_plate{
    display: flex;
    align-items: center;
    gap: var(--spacing-15);

    padding: var(--spacing-6) var(--spacing-12);

    background: var(--color-white);
    border-radius: var(--corner-5);
    rotate: 2deg;
}

.M_preview_mission_plate span{
    font: var(--font-20-500);
}

#Q_cursor_four{
    position: absolute;
    right: 0;
    bottom: 15vw;
    z-index: 4;

    width: 7.8rem;

    height: 5.3rem;

    background: url('../images/cursors/cursor4.svg') no-repeat center/100%;

    animation: move 5s linear infinite;
    transform-origin: 0 0;
}

#Q_cursor_five{
    position: absolute;
    bottom: 9vw;
    left: 0;
    z-index: 4;

    width: 7.8rem;

    height: 5.3rem;

    background: url('../images/cursors/cursor5.svg') no-repeat center/100%;

    animation: move 3s linear infinite;
    transform-origin: 0 0;
}

.W_preview_casino{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    height: 36.8rem;

    border-radius: var(--corner-15);
    overflow: hidden;
}

#B_preview_casino{
    position: absolute;

    width: 100%;

    height: 100%;

    background: url('../images/preview/casino.svg') no-repeat center/100%;
}

.W_preview_casino_content{
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-25);

    max-width: 35.6rem;
}

.A_preview_casino_description p{
    color: var(--color-lighter-gray);
    text-align: center;
    font: var(--font-18-500);
}

.W_preview_casino_content .A_preview_testing_button{
    margin-top: var(--spacing-20);
}

.A_preview_casino_title h2, .A_preview_stories_title h2{
    font: var(--font-35-500i);
}

.A_preview_stories_title h2{
    text-align: center;
}

.A_preview_stories_case_title h3{
    font: var(--font-25-500);
}

.A_preview_stories_case_description p{
    font: var(--font-18-500);
}

#W_preview_stories_case_yandex{
    position: absolute;

    width: 100%;

    height: 100%;

    background: url('../images/preview/rebranding.webp') no-repeat center/100%;
    translate: calc(-1*var(--spacing-30)) var(--spacing-30);
}

#W_preview_stories_case_sber{
    position: absolute;

    width: 100%;

    height: 100%;


    background: url('../images/preview/sber.webp') no-repeat center/100%;
    translate: calc(-1*var(--spacing-30)) var(--spacing-30);
}

.W_preview_stories{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);

    width: 100%;
}

.W_preview_stories_content{
    display: flex;
    gap: var(--spacing-30);

    width: 100%;
}

.W_preview_stories_case{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;

    height: 30rem;

    padding: var(--spacing-30);

    border-radius: var(--corner-15);
    overflow: hidden;
}

.W_preview_stories_content .W_preview_stories_case:nth-child(1) div[class], .W_preview_stories_content .W_preview_stories_case:nth-child(2) div[class]{
    position: relative;
    z-index: 1;
}

.W_preview_stories_case_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);

    max-width: 37rem;
}

.W_preview_coming_soon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-50);

    width: 62%;
}

.W_preview_coming_soon_case{
    position: relative;

    display: flex;
    align-items: flex-end;

    width: 100%;

    height: 16.4rem;

    padding: var(--spacing-15);

    border-radius: var(--corner-15) ;
}

.W_preview_coming_soon_content{
    display: flex;
    gap: var(--spacing-30);

    width: 100%;
}

.W_preview_coming_soon_content .W_preview_coming_soon_case:nth-child(1){
    background: var(--color-white);
}

.W_preview_coming_soon_content .W_preview_coming_soon_case:nth-child(2){
    color: var(--color-white);

    background: var(--color-purple);
}

.W_preview_coming_soon_content .W_preview_coming_soon_case:nth-child(3){
    background: url('../images/preview/code.webp') no-repeat center/100%;
}

.A_preview_coming_soon_case_title h3{
    font: var(--font-25-500i);
}

.A_preview_coming_soon_title h2{
    font: var(--font-35-500i);
}

#A_preview_coming_soon_case_retro{
    position: absolute;

    
    top: 4.6rem;

    width: 20.7rem;

    height: 4.2rem;

    background: url('../images/preview/sms.svg') no-repeat center/100%;
}

#A_preview_coming_soon_case_onboarding{
    position: absolute;

    top: 3.4rem;

    width: 23.6rem;

    height: 7.5rem;

    background: url('../images/preview/senor.svg') no-repeat center/100%;
}