#B_preview_materials_friend, #B_preview_materials_div{
    position: absolute;
    z-index: 0;

    width: 100%;

    height: 100%;

    translate: calc(-1*var(--spacing-30)) var(--spacing-30);
}

#B_preview_materials_bells{
    position: absolute;
    top: var(--spacing-30);
    right: var(--spacing-30);

    width: 4.5rem;

    height: 4.5rem;

    background: url('../images/preview/zipimage.svg') no-repeat center/100%;
}

#B_preview_materials_friend{
    background: url('../images/preview/brat.webp') no-repeat center/105%;
}

#B_preview_materials_div{
    background: url('../images/preview/divblabla.svg') no-repeat 100%;
}

#B_preview_testing{
    position: absolute;
    right: 5vw;
    bottom: 0;
    z-index: 0;

    width: 63rem;

    height: 100%;

    background: url('../images/preview/testing.svg') no-repeat center/100%;

    translate: calc(-1*var(--spacing-30)) var(--spacing-30);
}

#B_preview_casino{
    position: absolute;

    width: 100%;

    height: 100%;

    background: url('../images/preview/casino.svg') no-repeat center/100%;
}

@media (max-width: 1440px) {
    #B_preview_testing{
        right: -10vw;
        bottom: -5vw;

        width: 45vw;

        rotate: -30deg;
    }

    #B_preview_casino{
        background: url('../images/preview/casino.svg') no-repeat center/cover;
    }
}