<div class="O_header_main_mobile">
    <div class="W_header_main_mobile_top_content">
        <div class="Q_header_main_mobile_close"></div>
        <div class="M_search_bar">
            <div class="C_search_bar_inner">
                <div class="Q_find_icon"></div>
                <div class="A_search_text">
                    <p>Поиск</p>
                </div>
            </div>
            <div class="A_search_text_soon">
                <p>Soon</p>
            </div>
        </div>
        <div class="C_header_main_mobile_nav">
            <a href="">О нас</a>
            <a href="">Главная</a>
            <a href="">Материалы</a>
            <a href="">Кейсы</a>
            <a href="">Интерактивы</a>
        </div>
    </div>

    <div class="W_header_main_mobile">
        <div class="M_header_main_mobile_text">
            <div class="A_header_main_mobile_naming">
                <p>Connec<span>team</span></p>
            </div>
            <div class="A_header_main_mobile_slogan">
                <p>Сконнектим тебя с коллегами</p>
            </div>
        </div>
        <div class="C_social_media">
            <a href="https://t.me/connecteam" class="W_media" target="_blank">
                <div class="A_media_icon"></div>
            </a>
            <a href="https://vk.com/club228014641" class="W_media" target="_blank">
                <div class="A_media_icon"></div>
            </a>
            <a href="" class="W_media" target="_blank">
                <div class="A_media_icon"></div>
            </a>
            <a href="" class="W_media" target="_blank">
                <div class="A_media_icon"></div>
            </a>
        </div>
    </div>

</div>