<div class="O_header_white">
  <div class="A_hw_logo"></div>
  <div class="O_hw_int_content">
    <div class="M_hw_search_bar">
      <div class="C_search_bar_inner">
        <div class="Q_hw_find_icon"></div>
        <div class="A_search_text">
          <p>Поиск</p>
        </div>
      </div>
    </div>
    <div class="C_hw_nav_menu">
      <a href="/Connecteam/" class="A_hw_nav_button">Главная</a>
      <a href="/Connecteam/articles" class="A_hw_nav_button">Материалы</a>
      <a href="/Connecteam/cases" class="A_hw_nav_button">Кейсы</a>
      <a href="/Connecteam/interactives" class="A_hw_nav_button">Интерактивы</a>
    </div>
  </div>
  <div class="Q_hwm_burger_menu"></div>
</div>
